{% extends 'base.html' %}

{% block title %}<title>{{ profile.username }}</title>{% endblock %}

{% block links %} {% include 'inc/clean_links.html' %} {% endblock %}

{% block header_for_tags %}{% endblock %}

{% block main %}
<div class="row g-0">
    <div class="card m-3" style="max-width: 260px; max-height: 260px">
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" width=250px height=250px class="m-1" alt="...">
        {% else %}
        {% load static %}
        <img src="{% static 'profiles/standart_avatar.png' %}" width=250px height=250px class="m-1" alt="...">
        {% endif %}
    </div>
    <div class="col gy-3" style="max-width: 80%;>
        <div class="col">
            <h3 class="m-0">{{ profile.username }}</h3>
            <h5 class="m-0">Просмотренно аниме: {{ total_anime|length }}</h5>
        </div>
    </div>
</div>

<ul class="list-group">
    <div class="mx-3">
    <h6>Просмотренные аниме</h6>
    {% for anime in total_anime %}
        <li class="list-group-item">
            <img src="{{ anime.anime.image.url }}" width=60px height=90px>
            <a href="{% url 'anime' anime.anime.pk %}">{{ anime.anime.name }}</a>
            {% if anime.rate %}
            <a>{{ anime.rate }}</a>
            {% else %}
            <a>-</a>
            {% endif %}
        </li>
    {% endfor %}
    </div>
</ul>
{% endblock %}


{% block paginator %}{% endblock %}