{% extends 'base.html' %}

{% block title %}<title>Настройка профиля</title>{% endblock %}

{% block links %} {% include 'inc/clean_links.html' %} {% endblock %}

{% block main %}
<div class="m-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-3">
            <button type="submit" class="btn btn-danger btn-block">Применить</button>
        </div>
    </form>
</div>
{% endblock %}

{% block header_for_tags %}{% endblock %}