{% extends 'base.html' %}

{% block title %}<title>Анимелист</title>{% endblock %}

{% block links %}
<li><a href="{% url 'main' %}" class="nav-link px-4 text-white">Главная страница</a></li>
<li><a class="nav-link px-0 text-danger">Пользователи</a></li>
{% endblock %}

{% block header_for_tags %}{% endblock %}

{% block main %}
{% if page_obj %}
<div class="row row-cols-1 row-cols-md-2 m-2 g-2">
{% for profile in page_obj %}
    <div class="card p-1 m-2" style="width: 190px; height: 320px">
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" width=180px height=180px alt="">
        {% else %}
        {% load static %}
        <img src="{% static 'profiles/standart_avatar.png' %}" width=180px height=180px alt="...">
        {% endif %}
        <div class="card-body p-2">
            <h6 class="card-title" style="text-align :center">{{ profile.username }}</h6>
        </div>
        <a href="{% url 'profile' profile.pk %}" class="btn btn-danger">Посмотреть</a>
    </div>
{% endfor %}
</div>
{% else %}
    <div class="m-3">
        <h5>Таких аниме нет</h5>
    </div>
{% endif %}
{% endblock %}

{% block paginator %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" style="color: #dc3545" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}
      <li class="page-item active"><a class="page-link" style="background-color: #dc3545; border-color: #dc3545">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" style="color: #dc3545" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
      {% endif %}
  </ul>
</nav>
{% endblock %}