{% extends 'base.html' %}

{% block title %}<title>Анимелист</title>{% endblock %}

{% block links %}
<li><a class="nav-link px-4 text-danger">Главная страница</a></li>
<li><a class="nav-link px-0 text-white">Пользователи</a></li>
{% endblock %}

{% block main %}
<div class="row row-cols-1 row-cols-md-2 m-2 g-2">
{% for anime in anime_objects %}
    <div class="card p-1 m-2" style="width: 12rem; height: 27rem">
        <img src="{{ anime.image.url }}" width=180px height=270px alt="">
        <div class="card-body">
            <h5 class="card-title">{{ anime.name }} ({{ anime.release_date }})</h5>
        </div>
        <a href="{% url 'anime' anime.pk %}" class="btn btn-danger">Посмотреть</a>
    </div>
{% endfor %}
</div>
{% endblock %}