{% extends 'anime/all.html' %}

{% block title %}<title>{{ anime_obj.name }}</title>{% endblock %}

{% block links %} {% include 'inc/clean_links.html' %} {% endblock %}

{% block main %}
<div class="row g-0">
    <div class="card m-3" style="max-width: 235px; max-height: 348px">
        <img src="{{ anime_obj.image.url }}" width=225px height=338px class="m-1" alt="...">
    </div>
    <div class="col gy-3" style="max-width: 80%;">
        <div class="col">
            <h3 class="m-0">{{ anime_obj.name }}</h3>
            {% if anime_obj.description %}
            Описание: <a>{{ anime_obj.description }}</a>
            {% else %}
            Описание отсутсвует.
            {% endif %}
            <p class="m-0">Тэги:
                {% for tag in anime_obj.tags.all|dictsort:"name"%}
                {% if forloop.last %}
                <a href="{% url 'tag' tag.pk %}">{{ tag.name }}</a>
                {% else %}
                <a href="{% url 'tag' tag.pk %}">{{ tag.name }}</a><a>, </a>
                {% endif %}
                {% endfor %}
            </p>
            <p class="text-muted m-0">Год выпуска: {{ anime_obj.release_date }}</p>
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="row g-0">
    <div class="col-3 gy-3">
        <form method="post" action="{% url 'anime_change_watched' anime_obj.id %}">
        {% csrf_token %}
        {% if a_status.is_watched %}
            <button id="is_watched_button" type="submit" class="btn btn-danger">Не смотрел</button></li>
        {% else %}
            <button id="is_watched_button" type="submit" class="btn btn-danger">Cмотрел</button></li>
        {% endif %}
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
{% block paginator %}{% endblock %}